.newspaper{
  padding: 20px;
  column-count:3;
  column-gap:40px;
  column-rule:4px outset rgba(255, 0, 0, 0.11);
}

.hoverLinkColor{
  color: #000;
}

.hoverLinkColor:hover{
  color: red;
}

.mr5{
  margin-right: 5px;
}

.hoverBorderShadow{
  border: 1px solid #E5E5E5;
}

.hoverBorderShadow:hover{
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1);
  border-color: rgba(229, 229, 229, .73);
}

/*
  线性渐变背景色
  在.box:hover中加入这行代码的意义是用于当鼠标移动上去时所产生的渐变效果,在.box中加入这行代码的意义是用于当鼠标移开时所产生的渐变效果,
  如果有一方不加,则会导致不加的那一方在进行样式变化的时候不会产生渐变的效果
*/
.linearTransitionBg{
  width: 500px;
  height: 30px;
  background-color: yellow;
  transition: all 5s ease;
}

.linearTransitionBg:hover{
  width: 100%;
  transition: all 5s ease;
}

.linearTransitionBox{
  cursor: pointer;
  display: inline-block;
}

.linearTransitionBorderBottom::after{
  content: '';
  position: relative;
  bottom: 0;
  border-top: 2px solid #ff6900;
  display: block;
  margin: 0 auto;
  transition: all 120ms ease-in-out;
  width: 0;
}
.linearTransitionBorderBottom:hover::after{
  content: '';
  position: relative;
  bottom: 0;
  border-top: 2px solid #ff6900;
  display: block;
  margin: 0 auto;
  transition: all 120ms ease-in-out;
  width: 100%;
}
